:root {
  /* Colors */
  --color-white: #FFF;
  --color-secondary-white: #F6F6F6;
  --color-orange: #FA4A0C;
  --color-dark: #252B42;
  --color-normal: #737373;
  --color-secondary-light: #E4E4E4;
  --color-copyright: #5C5C5C;
  --color-mobile-light: #FAFAFA;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;